* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: arial;
}
div{
    text-align: center;
}

span {
    padding-top: 200px;
    font-size: 50px;
}

p{
    margin: 50px 20px;
    text-align: justify;
}


button {
    position: absolute;
    top: 5%;
    right: 10%;
}